@page "/Verband_Daten"
@using _4Cows_FE.Components._4CowsComponent
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject ClawTreatmentService clawTreatmentService
@inject CowService cowService
@using BB_Cow.Class
@using _4Cows_FE.Components._4CowsComponent.Dialogs

<MudGrid Justify="Justify.FlexEnd">
    <MudIconButton Icon="@Icons.Material.Filled.AddCircle" Color="Color.Secondary" Size="Size.Large" OnClick="OpenClawDialog"></MudIconButton>
</MudGrid>
<div style="height: 90dvh">
    <MudTable Elevation="5" Items="@ClawTreatments" Hover="true" Striped="@true" Filter="new Func<ClawTreatment,bool>(ClawFilterFunc1)" @bind-SelectedItem="selectedClaw">
        <ToolBarContent>
            <MudText Typo="Typo.h3">Verbände</MudText>
            <MudSpacer/>
            <MudTextField @bind-Value="searchClaw" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<int, object>(x=>x)">Halsbandnummer</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ClawTreatment, object>(x=>x.TreatmentDate)">Verband seit</MudTableSortLabel></MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Halsbandnummer">@cowService.GetCollarNumberByEarTagNumber(context.EarTagNumber)</MudTd>
            <MudTd>@($"{(DateTime.Now - context.TreatmentDate).Days} Tage")</MudTd>
            <MudTd><MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => OpenClawInformation(context))">Behandlung öffnen</MudButton></MudTd>
            <MudTd><MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => RemoveBandage(context))"> Verband Löschen</MudButton></MudTd>

        </RowTemplate>
        <PagerContent>
            <MudTablePager RowsPerPageString="Verbände pro Seite" PageSizeOptions="new int[]{25, 50, 100}" />
        </PagerContent>
    </MudTable>
</div>


    @code {
    private ClawTreatment selectedClaw = null;
    private string searchClaw = "";
    private IEnumerable<ClawTreatment> ClawTreatments = new List<ClawTreatment>();

    protected override void OnInitialized()
    {
        ClawTreatments = clawTreatmentService.GetClawTreatmentsWithBandage();
    }
    private bool ClawFilterFunc1(ClawTreatment Treatment_Cow) => FilterFuncClaw(Treatment_Cow, searchClaw);

    private bool FilterFuncClaw(ClawTreatment Treatment_Cow, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (cowService.GetCollarNumberByEarTagNumber(Treatment_Cow.EarTagNumber).ToString() == searchString)
            return true;
        return false;
    }

    private async Task OpenClawInformation(ClawTreatment Claw_Treatment)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        await clawTreatmentService.GetAllDataAsync();
        var parameters = new DialogParameters<Show_Claw_Treatment_Dialog> { { x => x.Claw_Treatment, Claw_Treatment } };
        await DialogService.ShowAsync<Show_Claw_Treatment_Dialog>("", parameters, options);
    }

    private void OpenClawDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogService.Show<Add_Claw_Treatment_Dialog>("", options);
    }

    private async Task RemoveBandage(ClawTreatment Claw_Treatment)
    {
        if(await clawTreatmentService.RemoveBandageAsync(Claw_Treatment.ClawTreatmentId))
        {
            Snackbar.Add($"Verband erfolgreich entfernt!", Severity.Success);
        }
        else
        {
            Snackbar.Add($"Entfernen des Verbands fehlgeschlagen!", Severity.Error);
        }
    }
}
