@inject ISnackbar Snackbar
@inject PClawTreatmentService pClawTreatmentService
@inject CowService cowService

<MudDialog>
    <DialogContent>
        <MudStack>
            <MudText Class="table-Header" Align="Align.Center" Typo="Typo.h3">geplante Klauen Behandlung hinzufügen</MudText>

            <MudNumericField @bind-Value="CollarNumber" Label="Halsbandnummer:" Variant="Variant.Text" />
            <MudDatePicker Label="Erkennungsdatum:" Editable="true" @bind-Date="NullDate" />
            <MudTextField Label="Grund für Behandlung:" @bind-Value="Planned_Claw_Treatment.Desciption"></MudTextField>
            <MudSpacer></MudSpacer>
            <MudText>Auffällige Klauen:</MudText>
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="6">
                        @if (Planned_Claw_Treatment.ClawFindingLV)
                        {
                        <button type="button" id="LV_Hoof_Standart" class="Show_Hoof_Input" onclick="@(() => ClawInput("LV"))"></button>
                        }
                        else
                        {
                        <button type="button" id="LV_HOOF" class="Show_Hoof_Input" onclick="@(() => ClawInput("LV"))"></button>
                        }
                    </MudItem>
                    <MudItem xs="6">
                        @if (Planned_Claw_Treatment.ClawFindingRV)
                        {
                        <button type="button" id="RV_Hoof_Standart" class="Show_Hoof_Input" onclick="@(() => ClawInput("RV"))"></button>
                        }
                        else
                        {
                        <button type="button" id="RV_HOOF" class="Show_Hoof_Input" onclick="@(() => ClawInput("RV"))"></button>
                        }
                    </MudItem>
                    <MudItem xs="6">
                        @if (Planned_Claw_Treatment.ClawFindingLH)
                        {
                        <button type="button" id="LH_Hoof_Standart" class="Show_Hoof_Input" onclick="@(() => ClawInput("LH"))"></button>
                        }
                        else
                        {
                        <button type="button" id="LH_HOOF" class="Show_Hoof_Input" onclick="@(() => ClawInput("LH"))"></button>
                        }
                    </MudItem> 
                    <MudItem xs="6">
                        @if (Planned_Claw_Treatment.ClawFindingRH)
                        {
                        <button type="button" id="RH_Hoof_Standart" class="Show_Hoof_Input" onclick="@(() => ClawInput("RH"))"></button>
                        }
                        else
                        {
                        <button type="button" id="RH_HOOF" class="Show_Hoof_Input" onclick="@(() => ClawInput("RH"))"></button>
                        }
                    </MudItem>
                    </MudGrid>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@SaveClawTreatmentModalInput">Speichern</MudButton>
        </MudStack>
    </DialogContent>
</MudDialog>



@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    public DateTime? NullDate;
    public bool SaveSuccesfulBool;
    public int CollarNumber;
    
    public PlannedClawTreatment Planned_Claw_Treatment = new PlannedClawTreatment();

    protected override void OnInitialized()
    {
        NullDate = DateTime.Today;
    }

    public async Task SaveClawTreatmentModalInput()
    {
        Snackbar.Configuration.SnackbarVariant = Variant.Outlined;
        Snackbar.Configuration.MaxDisplayedSnackbars = 10;
        if (TestForNullInput())
        {    
            Planned_Claw_Treatment.TreatmentDate = NullDate.Value;
            Planned_Claw_Treatment.EarTagNumber = cowService.GetEarTagNumberByCollarNumber(CollarNumber);
            SaveSuccesfulBool = await pClawTreatmentService.InsertDataAsync(Planned_Claw_Treatment);
            MudDialog.Close();
            if (SaveSuccesfulBool)
            {
                Snackbar.Add($"Speichern erfolgreich!", Severity.Success);
            }
            else
            {
                Snackbar.Add($"Speichern fehlgeschlagen!", Severity.Error);
            }
        }
        else
        {
            Snackbar.Add($"Alle Felder müssen ausgefüllt werden!", Severity.Error);
        }
    }

    private bool TestForNullInput()
    {
        bool returnBool;
        returnBool = NullDate != null &&  !string.IsNullOrEmpty(Planned_Claw_Treatment.Desciption);
        return returnBool;
    }

    private void ClawInput(string currentClaw)
    {
        if(currentClaw == "LV")
        {
            Planned_Claw_Treatment.ClawFindingLV = !Planned_Claw_Treatment.ClawFindingLV;
        }
        else if (currentClaw == "RV")
        {
            Planned_Claw_Treatment.ClawFindingRV = !Planned_Claw_Treatment.ClawFindingRV;
        }
        else if (currentClaw == "LH")
        {
            Planned_Claw_Treatment.ClawFindingLH = !Planned_Claw_Treatment.ClawFindingLH;
        }
        else if (currentClaw == "RH")
        {
            Planned_Claw_Treatment.ClawFindingRH = !Planned_Claw_Treatment.ClawFindingRH;
        }
    }
}

