@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <MudStack Justify="Justify.Center">
            <MudText Align="Align.Center" Typo="Typo.h3">Klauen Behandlung</MudText>
            <MudSpacer></MudSpacer>
            <MudGrid Justify="Justify.Center">
                <MudItem xs="3">
                    <MudText Color="Color.Info" Typo="Typo.h6">Verband &</MudText><MudText Color="Color.Tertiary" Typo="Typo.h6">Klotz</MudText>
                </MudItem>
                <MudItem xs="3">
                    <MudText Color="Color.Tertiary" Typo="Typo.h6">Verband</MudText>
                </MudItem>
                <MudItem xs="3">
                    <MudText Color="Color.Info" Typo="Typo.h6">Klotz</MudText>
                </MudItem>
                <MudItem xs="3">
                    <MudText Color="Color.Error" Typo="Typo.h6">Verband entfernt</MudText>
                </MudItem>
            </MudGrid>
               

            <MudGrid Justify="Justify.Center">
                <MudItem xs="6">
                    @if(Claw_Treatment.BandageLV && Claw_Treatment.BlockLV && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="LV_Hoof_Bandage_Block" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BandageLV && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="LV_Hoof_Bandage" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BlockLV && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="LV_Hoof_Block" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BlockLV && Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="LV_Hoof_Block_Removed" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BandageLV && Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="LV_Hoof_Bandage_Removed" class="Show_Hoof_Input"></button>
                    }
                    else
                    {
                        <button type="button" id="LV_Hoof_Standart" class="Show_Hoof_Input"></button>
                    }
                    <MudField>@Claw_Treatment.ClawFindingLV</MudField>
                </MudItem>
                <MudItem xs="6">
                    @if (Claw_Treatment.BandageRV && Claw_Treatment.BlockRV && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="RV_Hoof_Bandage_Block" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BandageRV && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="RV_Hoof_Bandage" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BlockRV && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="RV_Hoof_Block" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BlockRV && Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="RV_Hoof_Block_Removed" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BandageRV && Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="RV_Hoof_Bandage_Removed" class="Show_Hoof_Input"></button>
                    }
                    else
                    {
                        <button type="button" id="RV_Hoof_Standart" class="Show_Hoof_Input"></button>
                    }                    
                    <MudField>@Claw_Treatment.ClawFindingRV</MudField>
                </MudItem>
                <MudItem xs="6">
                    @if (Claw_Treatment.BandageLH && Claw_Treatment.BlockLH && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="LH_Hoof_Bandage_Block" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BandageLH && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="LH_Hoof_Bandage" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BlockLH && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="LH_Hoof_Block" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BlockLH && Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="LH_Hoof_Block_Removed" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BandageLH && Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="LH_Hoof_Bandage_Removed" class="Show_Hoof_Input"></button>
                    }
                    else
                    {
                        <button type="button" id="LH_Hoof_Standart" class="Show_Hoof_Input"></button>
                    }                                       
                    <MudField>@Claw_Treatment.ClawFindingLH</MudField>
                </MudItem>
                <MudItem xs="6">
                    @if (Claw_Treatment.BandageRH && Claw_Treatment.BlockRH && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="RH_Hoof_Bandage_Block" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BandageRH && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="RH_Hoof_Bandage" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BlockRH && !Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="RH_Hoof_Block" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BlockRH && Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="RH_Hoof_Block_Removed" class="Show_Hoof_Input"></button>
                    }
                    else if (Claw_Treatment.BandageRH && Claw_Treatment.IsBandageRemoved)
                    {
                        <button type="button" id="RH_Hoof_Bandage_Removed" class="Show_Hoof_Input"></button>
                    }
                    else
                    {
                        <button type="button" id="RH_Hoof_Standart" class="Show_Hoof_Input"></button>
                    }                                   <MudField>@Claw_Treatment.ClawFindingRH</MudField>
                </MudItem>
            </MudGrid>            
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CloseModal">Schließen</MudButton>
        </MudStack>
    </DialogContent>
</MudDialog>

    @code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public ClawTreatment Claw_Treatment { get; set; } = new ClawTreatment();

    protected override void OnInitialized()
    {
        DateTime currentDateTime = DateTime.Today;
        Claw_Treatment.TreatmentDate = currentDateTime.Date;
    }

    public void CloseModal()
    {
        MudDialog.Close();
    }
}

