@using BB_Cow.Components
@using MudBlazor
@inherits LayoutComponentBase
@inject IDialogService DialogService;
<PageTitle>4Cows</PageTitle>
<MudThemeProvider IsDarkMode="@_isDarkMode"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
     <CascadingValue Value="@_isDarkMode" Name="IsDarkMode"/>
    <MudAppBar Elevation="3">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                             Icon="@Icons.Material.Filled.LightMode" Color="@Color.Inherit" Title="LightMode"
                             ToggledIcon="@Icons.Material.Filled.DarkMode" ToggledColor="@Color.Primary" ToggledTitle="DarkMode" />
        <MudIconButton Icon="@Icons.Material.Outlined.Info" OnClick="OpenVersionDialog" Color="Color.Inherit"></MudIconButton>
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Variant="@DrawerVariant.Temporary" Color="@Color.Inherit" Elevation="3">
        <MudDrawerHeader>
            <div style="display: flex; align-items: center;">
                    <img src="/logo.png" style="width: 30%; aspect-ratio: 1 / 1;" />
                <MudText Typo="Typo.h5" Style="text-align: center;"><b>4Cows</b></MudText>
            </div>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Material.Filled.SpaceDashboard" IconColor="Color.Primary" Href="" Match="NavLinkMatch.All">Dashboard</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.BackupTable" IconColor="Color.Primary" Href="Kuh_Daten" Match="NavLinkMatch.Prefix">Kuh Behandlungen</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Construction" IconColor="Color.Primary" Href="geplante_Kuh_Daten" Match="NavLinkMatch.Prefix">geplante Kuh Behandlungen</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Healing" IconColor="Color.Primary" Href="Verband_Daten" Match="NavLinkMatch.Prefix">Verbände</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Pets" IconColor="Color.Primary" Href="Klauen_Daten" Match="NavLinkMatch.Prefix">Klauen Behandlungen</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Plumbing" IconColor="Color.Primary" Href="geplante_Klauen_Daten" Match="NavLinkMatch.Prefix">geplante Klauen Behandlungen</MudNavLink>



        </MudNavMenu>
    </MudDrawer>
    <MudMainContent >
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>


@code {
    bool open = false;
    private MudTheme _theme = new();
    public bool _isDarkMode { get; set; } = false;
    public TimeSpan _startSpan = new TimeSpan(7, 0, 0);
    public TimeSpan _endSpan = new TimeSpan(19, 0, 0);


    void ToggleDrawer()
    {
        open = !open;
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        DarkSwitch();
    }

    void DarkSwitch()
    {
        if (DateTime.Now.TimeOfDay > _endSpan)
        {
            _isDarkMode = true;
        }
        else
        {
            _isDarkMode = false;
        }
    }

    void OpenVersionDialog(){
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogService.Show<Version_Dialog>("Software Version", options);
    }
}